body {
    font-family: work sans;
    background-color:#000015 ;
    color: #EBF6FE;
    overflow-x: hidden;
}
.navbar {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.46px;
    text-align: left;
    color: #EBF6FE;
z-index: 5;

}

.logo {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.15px;
    text-align: left;
    color: #EBF6FE;

}
.texthero
{
    text-align: left;
    margin: auto;
}

.butn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(180deg, #33A9F4 0%, #3267B1 47.4%, #301E67 100%);
    border-radius: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    opacity: 0.9;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.butn:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    opacity: 1; /* Increase opacity on hover */
    background: linear-gradient(180deg, #301E67 0%, #3267B1 47.4%, #33A9F4 100%);
}

.nav-link .active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #33A9F4;


}

.nav-item :hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #33A9F4;
}

.dotr {

    height: 80%;
    width: 50%;
    position: absolute;
    right: -10%;
    top:-7%;
    border-radius: 50%;
    background-color: #214e7e8f;
    filter: blur(150px);
    -webkit-filter: blur(150px);
  z-index: 0;
}

.dotl {

    height: 40%;
    width: 40%;
    position: absolute;
    left: -10%;

    border-radius: 50%;
    background-color: #214e7e8f;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    display: flex;
}

.dots {
    height:40%;
    width: 40%;
    position: absolute;
    /* top:-2%; */
    right:-15%;
    border-radius: 50%;
    background-color: #214e7e8f;
    filter: blur(150px);
    -webkit-filter: blur(150px);
    display: flex;
}

/* ----------------------------------------------------- */

.text-primary {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(100deg, #33A9F4 20.23%, #3267B1 50.64%, #9572FF 100%);
font-weight: 900;
}

.txtstrong {
    color: #B2E1FF;

}
.btnex {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 16px;
    position: relative;
    transition: color 0.3s ease;
}
.btnex::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(180deg, #33A9F4 0%, #3267B1 47.4%, #301E67 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}
.btnex:hover {
    color: #33A9F4;
    transition: color 0.3s ease;
}
.btnex:hover::before {
    background: linear-gradient(180deg, #301E67 0%, #3267B1 47.4%, #33A9F4 100%);
    transition: background 0.3s ease;
}
.hero {
    min-height: 70vh;
    position: relative;
    display: flex;
    align-items: center;
  }
.hero-img
{
    z-index: 155555;
    align-items: center;
    margin: auto;
    text-align: center;
}

.hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (max-width: 640px) {
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    .hero p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 13px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(30px);
    }
  
    100% {
      transform: translateY(-30px);
    }
  }
  
  /* -------------------------------- */
  
  
  .about
  {
    min-height: 70vh;
    position: relative;
    display: flex;
    align-items: center
  }
  .display-6.display-6
  {
      font-weight: 500;
      transition:  0.3s ease;
     color:  #33A9F4;
  }
  .textcontent
  {
      font-size: 1.20rem;
  }
  .display-6:hover{
    font-weight: 700;
    transition:  0.3s ease;
   cursor: pointer;
  
  }
  /* -------------------------------- */

  
  .Services
  {
    min-height: 70vh;
    position: relative;
    align-items: center
  }
  .list-unstyled 
  {
      justify-content: left;
      text-align: left;
      font-size: 1.7rem;
  }
  .service-item
{
    transition:  0.3s ease;
cursor:context-menu;
}
.service-item:hover
{
    font-size: 1.8rem;
    transition:  0.3s ease;

}
.Services .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @keyframes up-down {
    0% {
      transform: translateY(30px);
    }
  
    100% {
      transform: translateY(-30px);
    }
  }
  /* --------------------------------- */
.Project
{
    min-height: 70vh;
    position: relative;
    align-items: center
}
.cards
{
    padding-left: 50px;
}
  .card {
    border: 4px solid;

border-image-source: linear-gradient(180deg, #33A9F4 0%, #3267B1 47.4%, #301E67 100%);


    border-image-slice: 1; /* Ensures the gradient spans the entire border */
    border-radius: 16px;
    background-color: transparent;
    color: #E9EBF8;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

}
.card img
{
    height:280px;
}
/* General styles for the card text */
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 2 lines by default */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5; /* Adjust for spacing between lines */
    transition: all 0.3s ease; /* Smooth transitions */

}

/* When the text is expanded */
.card-text.expanded {
    -webkit-line-clamp: unset; /* Remove the line clamp */
    overflow: visible; /* Show the full content */
}

/* "See more" link styles */
.show-more {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(100deg, #33A9F4 34.23%, #3267B1 50.64%, #9572FF 100%);    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
    text-decoration: none;
}

.show-more:hover {
    text-decoration: underline;
}
.linkcard
{
    text-decoration: none;
    color: #E9EBF8;

}


.container .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
    background: #E9EBF81A;
}


.linkcard {
    text-decoration: none;
    color: inherit;
}

/* -------------------------------- */
.clients {
    padding: 12px 0;
    min-height: 20vh;
    position: relative;
    align-items: center
  }
  
  .clients .swiper {
    padding: 10px 0;
  }
  
  .clients .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .clients .swiper-slide {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .clients .swiper-slide img {
    transition: 0.3s;
    max-width: 100%;
    height: auto;
  }
  
  .clients .swiper-slide img:hover {
    transform: scale(1.1);
  }

  /* ----------------------------- */
  .contact
  {
    min-height: 100vh;
    position: relative;
    align-items: center
  }
.contact-card {
    /* background-color: #000015;
 
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center; */
    padding: 10px;
    width: 100%;
height: 100%;
border-radius: 16px;
opacity: 0px;
box-shadow: 0px 19px 130px 0px #33A9F440;

}

.contact-card h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact-card p {
    font-size: 1rem;
    margin-bottom: 25px;
}

.contact-card input[type="text"], .contact-card textarea {
    color: #5c5959;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

::placeholder {
    color: #777;
}

.contact-card button {
    width: 50%;
    display: inline-block;
    color: white;
    background: linear-gradient(180deg, #33A9F4 0%, #3267B1 47.4%, #301E67 100%);
    border-radius:25px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    opacity: 0.9;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-bottom: 10px;
}

.contact-card button:hover {
        transform: scale(1.05); /* Slightly enlarge on hover */
    opacity: 1; /* Increase opacity on hover */
    background: linear-gradient(180deg, #301E67 0%, #3267B1 47.4%, #33A9F4 100%);
}

/* -------------------------------- */
.formcont
{
    width: 50%;
    margin: auto;
}


.footer {
    color: white;
    padding: 100px 0;
    align-items: center
}

.footer .footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EBF6FE;
}

.footer .footer-logo img {
    max-width: 40px;
    margin-right: 10px;
}

.footer .footer-links,
.footer .footer-contact {
    font-size: 0.9rem;
    color: #b0b0b0;
}

.footer .footer-links a {
    color: #b0b0b0;
    text-decoration: none;
}

.footer .footer-links a:hover {
    color: #a3c4ff;
}

.footer .footer-social a {
    color: #a3c4ff;
    font-size: 1.2rem;
    margin-right: 10px;
}

.footer .footer-social a:hover {
    color: #6a9cfa;
}

.footer-bottom {
    border-top: 2px solid  #3267B1 ;
    
    padding-top: 15px;
    text-align: center;
    font-size: 0.8rem;
    color: #EBF6FE;
}
.footer-social
{
    border-top: 2px solid  #3267B1 ;
    
    padding-top: 15px;
    text-align: center;
    font-size: 0.8rem;
    color: #EBF6FE;
}
.foo
{
    text-align: center;
}
.lef
{
    text-align: left;
}
